In [ ]:
from pandas.io.html import read_html
import re
from sklearn.utils import shuffle

In [ ]:
def extract_table(page_url):
  wikitables = read_html(page_url,index_col=1 , match = "Appearances and goals by club, season and competition", attrs={"class":"wikitable"})
  page_name = re.findall(r'/(\w+)', page_url)[-1].replace("_", " ") # extract page name from url
  table = wikitables[0]
  table.columns.values[0] = 'club'
  table.reset_index(inplace = True)
  table.columns.values[0] = 'Season'
  #table.drop( table.columns[11:13] , inplace = True , axis = 1)
  col_names = []

  # clean column names (to be general for that template)
  for i in  table.columns:
    if type(i) is tuple:
      col = ' '.join(i)
      col = ' '.join(re.sub(r"\[.*?\]","", col).strip().split(" "))
      col = ' '.join(re.sub(r"[\([{})\]]|","", col).strip().split(" "))
      col_names.append(col.lower())
    else:
      col_names.append(i.lower())
  table.columns = col_names
  return  page_name ,table

In [ ]:
  player_name , table = extract_table("https://en.wikipedia.org/wiki/Mohamed_Salah")
  table

,season,club,league division,league apps,league goals,national cup apps,national cup goals,league cup apps,league cup goals,continental apps,continental goals,other apps,other goals,total apps,total goals
0,2009–10,Al Mokawloon Al Arab,Egyptian Premier League,3,0,2,0,—,—,—,—,—,—,5,0
1,2010–11,Al Mokawloon Al Arab,Egyptian Premier League,20,4,4,1,—,—,—,—,—,—,24,5
2,2011–12,Al Mokawloon Al Arab,Egyptian Premier League,15,7,0,0,—,—,—,—,—,—,15,7
3,Total,Al Mokawloon Al Arab,Total,38,11,6,1,0,0,0,0,0,0,44,12
4,2012–13,Basel,Swiss Super League,29,5,5,3,—,—,16[a],2,—,—,50,10
5,2013–14,Basel,Swiss Super League,18,4,1,1,—,—,10[b],5,—,—,29,10
6,Total,Basel,Total,47,9,6,4,0,0,26,7,0,0,79,20
7,2013–14,Chelsea,Premier League,10,2,1,0,0,0,0,0,—,—,11,2
8,2014–15,Chelsea,Premier League,3,0,1,0,2,0,2[b],0,—,—,8,0
9,Total,Chelsea,Total,13,2,2,0,2,0,2,0,0,0,19,2
10,2014–15,Fiorentina (loan),Serie A,16,6,2,2,—,—,8[c],1,—,—,26,9
11,2015–16,Roma (loan),Serie A,34,14,1,0,—,—,7[b],1,—,—,42,15
12,2016–17,Roma,Serie A,31,15,2,2,—,—,8[d],2,—,—,41,19
13,Total,Roma,Total,65,29,3,2,—,—,15,3,—,—,83,34
14,2017–18,Liverpool,Premier League,36,32,1,1,0,0,15[b],11,—,—,52,44
15,2018–19,Liverpool,Premier League,38,22,1,0,1,0,12[b],5,—,—,52,27
16,2019–20,Liverpool,Premier League,34,19,2,0,0,0,8[b],4,4[e],0,48,23
17,2020–21,Liverpool,Premier League,37,22,2,3,1,0,10[b],6,1[f],0,51,31
18,2021–22,Liverpool,Premier League,32,22,1,0,1,0,12[b],8,—,—,46,30
19,Total,Liverpool,Total,177,117,7,4,3,0,57,34,5,0,249,155
20,Career total,Career total,Career total,356,174,26,13,5,0,108,45,5,0,500,232

In [ ]:
def clean_table(summary_table):
  for i in range(len(summary_table)):
    for j in range(len(summary_table.iloc[i])):
      m = ' '.join(re.sub(r"\[.*?\]"," ", str(summary_table.iloc[i][j])).strip().split(" "))
      m= ' '.join(re.sub(r"[\([{})\]]","",  m ).strip().split(" "))
      summary_table.iat[i ,j] = m 
  return summary_table
  
x = clean_table(table)
x

,season,club,league division,league apps,league goals,national cup apps,national cup goals,league cup apps,league cup goals,continental apps,continental goals,other apps,other goals,total apps,total goals
0,2009–10,Al Mokawloon Al Arab,Egyptian Premier League,3,0,2,0,—,—,—,—,—,—,5,0
1,2010–11,Al Mokawloon Al Arab,Egyptian Premier League,20,4,4,1,—,—,—,—,—,—,24,5
2,2011–12,Al Mokawloon Al Arab,Egyptian Premier League,15,7,0,0,—,—,—,—,—,—,15,7
3,Total,Al Mokawloon Al Arab,Total,38,11,6,1,0,0,0,0,0,0,44,12
4,2012–13,Basel,Swiss Super League,29,5,5,3,—,—,16,2,—,—,50,10
5,2013–14,Basel,Swiss Super League,18,4,1,1,—,—,10,5,—,—,29,10
6,Total,Basel,Total,47,9,6,4,0,0,26,7,0,0,79,20
7,2013–14,Chelsea,Premier League,10,2,1,0,0,0,0,0,—,—,11,2
8,2014–15,Chelsea,Premier League,3,0,1,0,2,0,2,0,—,—,8,0
9,Total,Chelsea,Total,13,2,2,0,2,0,2,0,0,0,19,2
10,2014–15,Fiorentina loan,Serie A,16,6,2,2,—,—,8,1,—,—,26,9
11,2015–16,Roma loan,Serie A,34,14,1,0,—,—,7,1,—,—,42,15
12,2016–17,Roma,Serie A,31,15,2,2,—,—,8,2,—,—,41,19
13,Total,Roma,Total,65,29,3,2,—,—,15,3,—,—,83,34
14,2017–18,Liverpool,Premier League,36,32,1,1,0,0,15,11,—,—,52,44
15,2018–19,Liverpool,Premier League,38,22,1,0,1,0,12,5,—,—,52,27
16,2019–20,Liverpool,Premier League,34,19,2,0,0,0,8,4,4,0,48,23
17,2020–21,Liverpool,Premier League,37,22,2,3,1,0,10,6,1,0,51,31
18,2021–22,Liverpool,Premier League,32,22,1,0,1,0,12,8,—,—,46,30
19,Total,Liverpool,Total,177,117,7,4,3,0,57,34,5,0,249,155
20,Career total,Career total,Career total,356,174,26,13,5,0,108,45,5,0,500,232

In [ ]:
class Graph:
    def __init__(self):
        self.graph = {}

    def add_vertex(self, vertex):
        if vertex not in self.graph:
            self.graph[vertex] = []

    def add_edge(self, vertex1, vertex2 ):
        self.graph[vertex1].append(vertex2)
        #self.graph[vertex2].append(vertex1)


    def remove_edge(self, vertex1, vertex2):
        self.graph[vertex1].remove(vertex2)
        #self.graph[vertex2].remove(vertex1)

    def remove_vertex(self, vertex):
        for v in self.graph[vertex]:
            self.graph[v].remove(vertex)
        del self.graph[vertex]

    def get_neighbors(self, vertex):
        return self.graph[vertex]

    def get_vertices(self):
        return self.graph.keys()

    def the_graph(self):
      return self.graph

In [ ]:
def season_detail(summary_table , player_name):
  Triplets = []
  df = summary_table[ summary_table['season'] != 'Total' ].iloc[:-1] 
  for i in range(len(df)):
    cl =  df['club'].iloc[i]
    CLD = [ cl , "part of" , df['league division'].iloc[i] ]
    if CLD not in Triplets: 
      Triplets.append(CLD)
  
  for i in range(len(df)):
      Triplets.append([player_name , "total matches in season {} ".format(df['season'].iloc[i]) , df['total apps'].iloc[i] ])
      Triplets.append([player_name , "total goals in season {} ".format(df['season'].iloc[i]) , df['total goals'].iloc[i] ])

      Triplets.append([player_name , "total matches in league in season {} ".format(df['season'].iloc[i]) ,df['league apps'].iloc[i]  ])
      Triplets.append([player_name , "total goals in league in season {} ".format( df['season'].iloc[i]) , df['league goals'].iloc[i] ])

      Triplets.append([player_name , "total matches in national c in season {} ".format( df['season'].iloc[i]) , df['national cup apps'].iloc[i]  ])
      Triplets.append([player_name , "total goals in national cup in season {} ".format( df['season'].iloc[i]) , df['national cup goals'].iloc[i] ])

      Triplets.append([player_name , "total matches in league cup in season {} ".format( df['season'].iloc[i]) ,df['league cup apps'].iloc[i] ])
      Triplets.append([player_name , "total goals in league cup in season {} ".format(df['season'].iloc[i]) , df['league cup goals'].iloc[i] ])

      Triplets.append([player_name , "total matches in continental competition in season {} ".format(df['season'].iloc[i]) , df['continental apps'].iloc[i] ])
      Triplets.append([player_name , "total goals in continental competition in season {} ".format(df['season'].iloc[i]) , df['continental goals'].iloc[i] ])

  return Triplets

In [ ]:
s = season_detail(x , player_name)
s

[['Al Mokawloon Al Arab', 'part of', 'Egyptian Premier League'],
 ['Basel', 'part of', 'Swiss Super League'],
 ['Chelsea', 'part of', 'Premier League'],
 ['Fiorentina loan', 'part of', 'Serie A'],
 ['Roma loan', 'part of', 'Serie A'],
 ['Roma', 'part of', 'Serie A'],
 ['Liverpool', 'part of', 'Premier League'],
 ['Mohamed Salah', 'total matches in season 2009–10 ', '5'],
 ['Mohamed Salah', 'total goals in season 2009–10 ', '0'],
 ['Mohamed Salah', 'total matches in league in season 2009–10 ', '3'],
 ['Mohamed Salah', 'total goals in league in season 2009–10 ', '0'],
 ['Mohamed Salah', 'total matches in national c in season 2009–10 ', '2'],
 ['Mohamed Salah', 'total goals in national cup in season 2009–10 ', '0'],
 ['Mohamed Salah', 'total matches in league cup in season 2009–10 ', '—'],
 ['Mohamed Salah', 'total goals in league cup in season 2009–10 ', '—'],
 ['Mohamed Salah',
  'total matches in continental competition in season 2009–10 ',
  '—'],
 ['Mohamed Salah',
  'total goals in continental competition in season 2009–10 ',
  '—'],
 ['Mohamed Salah', 'total matches in season 2010–11 ', '24'],
 ['Mohamed Salah', 'total goals in season 2010–11 ', '5'],
 ['Mohamed Salah', 'total matches in league in season 2010–11 ', '20'],
 ['Mohamed Salah', 'total goals in league in season 2010–11 ', '4'],
 ['Mohamed Salah', 'total matches in national c in season 2010–11 ', '4'],
 ['Mohamed Salah', 'total goals in national cup in season 2010–11 ', '1'],
 ['Mohamed Salah', 'total matches in league cup in season 2010–11 ', '—'],
 ['Mohamed Salah', 'total goals in league cup in season 2010–11 ', '—'],
 ['Mohamed Salah',
  'total matches in continental competition in season 2010–11 ',
  '—'],
 ['Mohamed Salah',
  'total goals in continental competition in season 2010–11 ',
  '—'],
 ['Mohamed Salah', 'total matches in season 2011–12 ', '15'],
 ['Mohamed Salah', 'total goals in season 2011–12 ', '7'],
 ['Mohamed Salah', 'total matches in league in season 2011–12 ', '15'],
 ['Mohamed Salah', 'total goals in league in season 2011–12 ', '7'],
 ['Mohamed Salah', 'total matches in national c in season 2011–12 ', '0'],
 ['Mohamed Salah', 'total goals in national cup in season 2011–12 ', '0'],
 ['Mohamed Salah', 'total matches in league cup in season 2011–12 ', '—'],
 ['Mohamed Salah', 'total goals in league cup in season 2011–12 ', '—'],
 ['Mohamed Salah',
  'total matches in continental competition in season 2011–12 ',
  '—'],
 ['Mohamed Salah',
  'total goals in continental competition in season 2011–12 ',
  '—'],
 ['Mohamed Salah', 'total matches in season 2012–13 ', '50'],
 ['Mohamed Salah', 'total goals in season 2012–13 ', '10'],
 ['Mohamed Salah', 'total matches in league in season 2012–13 ', '29'],
 ['Mohamed Salah', 'total goals in league in season 2012–13 ', '5'],
 ['Mohamed Salah', 'total matches in national c in season 2012–13 ', '5'],
 ['Mohamed Salah', 'total goals in national cup in season 2012–13 ', '3'],
 ['Mohamed Salah', 'total matches in league cup in season 2012–13 ', '—'],
 ['Mohamed Salah', 'total goals in league cup in season 2012–13 ', '—'],
 ['Mohamed Salah',
  'total matches in continental competition in season 2012–13 ',
  '16'],
 ['Mohamed Salah',
  'total goals in continental competition in season 2012–13 ',
  '2'],
 ['Mohamed Salah', 'total matches in season 2013–14 ', '29'],
 ['Mohamed Salah', 'total goals in season 2013–14 ', '10'],
 ['Mohamed Salah', 'total matches in league in season 2013–14 ', '18'],
 ['Mohamed Salah', 'total goals in league in season 2013–14 ', '4'],
 ['Mohamed Salah', 'total matches in national c in season 2013–14 ', '1'],
 ['Mohamed Salah', 'total goals in national cup in season 2013–14 ', '1'],
 ['Mohamed Salah', 'total matches in league cup in season 2013–14 ', '—'],
 ['Mohamed Salah', 'total goals in league cup in season 2013–14 ', '—'],
 ['Mohamed Salah',
  'total matches in continental competition in season 2013–14 ',
  '10'],
 ['Mohamed Salah',
  'total goals in continental competition in season 2013–14 ',
  '5'],
 ['Mohamed Salah', 'total matches in season 2013–14 ', '11'],
 ['Mohamed Salah', 'total goals in season 2013–14 ', '2'],
 ['Mohamed Salah', 'total matches in league in season 2013–14 ', '10'],
 ['Mohamed Salah', 'total goals in league in season 2013–14 ', '2'],
 ['Mohamed Salah', 'total matches in national c in season 2013–14 ', '1'],
 ['Mohamed Salah', 'total goals in national cup in season 2013–14 ', '0'],
 ['Mohamed Salah', 'total matches in league cup in season 2013–14 ', '0'],
 ['Mohamed Salah', 'total goals in league cup in season 2013–14 ', '0'],
 ['Mohamed Salah',
  'total matches in continental competition in season 2013–14 ',
  '0'],
 ['Mohamed Salah',
  'total goals in continental competition in season 2013–14 ',
  '0'],
 ['Mohamed Salah', 'total matches in season 2014–15 ', '8'],
 ['Mohamed Salah', 'total goals in season 2014–15 ', '0'],
 ['Mohamed Salah', 'total matches in league in season 2014–15 ', '3'],
 ['Mohamed Salah', 'total goals in league in season 2014–15 ', '0'],
 ['Mohamed Salah', 'total matches in national c in season 2014–15 ', '1'],
 ['Mohamed Salah', 'total goals in national cup in season 2014–15 ', '0'],
 ['Mohamed Salah', 'total matches in league cup in season 2014–15 ', '2'],
 ['Mohamed Salah', 'total goals in league cup in season 2014–15 ', '0'],
 ['Mohamed Salah',
  'total matches in continental competition in season 2014–15 ',
  '2'],
 ['Mohamed Salah',
  'total goals in continental competition in season 2014–15 ',
  '0'],
 ['Mohamed Salah', 'total matches in season 2014–15 ', '26'],
 ['Mohamed Salah', 'total goals in season 2014–15 ', '9'],
 ['Mohamed Salah', 'total matches in league in season 2014–15 ', '16'],
 ['Mohamed Salah', 'total goals in league in season 2014–15 ', '6'],
 ['Mohamed Salah', 'total matches in national c in season 2014–15 ', '2'],
 ['Mohamed Salah', 'total goals in national cup in season 2014–15 ', '2'],
 ['Mohamed Salah', 'total matches in league cup in season 2014–15 ', '—'],
 ['Mohamed Salah', 'total goals in league cup in season 2014–15 ', '—'],
 ['Mohamed Salah',
  'total matches in continental competition in season 2014–15 ',
  '8'],
 ['Mohamed Salah',
  'total goals in continental competition in season 2014–15 ',
  '1'],
 ['Mohamed Salah', 'total matches in season 2015–16 ', '42'],
 ['Mohamed Salah', 'total goals in season 2015–16 ', '15'],
 ['Mohamed Salah', 'total matches in league in season 2015–16 ', '34'],
 ['Mohamed Salah', 'total goals in league in season 2015–16 ', '14'],
 ['Mohamed Salah', 'total matches in national c in season 2015–16 ', '1'],
 ['Mohamed Salah', 'total goals in national cup in season 2015–16 ', '0'],
 ['Mohamed Salah', 'total matches in league cup in season 2015–16 ', '—'],
 ['Mohamed Salah', 'total goals in league cup in season 2015–16 ', '—'],
 ['Mohamed Salah',
  'total matches in continental competition in season 2015–16 ',
  '7'],
 ['Mohamed Salah',
  'total goals in continental competition in season 2015–16 ',
  '1'],
 ['Mohamed Salah', 'total matches in season 2016–17 ', '41'],
 ['Mohamed Salah', 'total goals in season 2016–17 ', '19'],
 ['Mohamed Salah', 'total matches in league in season 2016–17 ', '31'],
 ['Mohamed Salah', 'total goals in league in season 2016–17 ', '15'],
 ['Mohamed Salah', 'total matches in national c in season 2016–17 ', '2'],
 ['Mohamed Salah', 'total goals in national cup in season 2016–17 ', '2'],
 ['Mohamed Salah', 'total matches in league cup in season 2016–17 ', '—'],
 ['Mohamed Salah', 'total goals in league cup in season 2016–17 ', '—'],
 ['Mohamed Salah',
  'total matches in continental competition in season 2016–17 ',
  '8'],
 ['Mohamed Salah',
  'total goals in continental competition in season 2016–17 ',
  '2'],
 ['Mohamed Salah', 'total matches in season 2017–18 ', '52'],
 ['Mohamed Salah', 'total goals in season 2017–18 ', '44'],
 ['Mohamed Salah', 'total matches in league in season 2017–18 ', '36'],
 ['Mohamed Salah', 'total goals in league in season 2017–18 ', '32'],
 ['Mohamed Salah', 'total matches in national c in season 2017–18 ', '1'],
 ['Mohamed Salah', 'total goals in national cup in season 2017–18 ', '1'],
 ['Mohamed Salah', 'total matches in league cup in season 2017–18 ', '0'],
 ['Mohamed Salah', 'total goals in league cup in season 2017–18 ', '0'],
 ['Mohamed Salah',
  'total matches in continental competition in season 2017–18 ',
  '15'],
 ['Mohamed Salah',
  'total goals in continental competition in season 2017–18 ',
  '11'],
 ['Mohamed Salah', 'total matches in season 2018–19 ', '52'],
 ['Mohamed Salah', 'total goals in season 2018–19 ', '27'],
 ['Mohamed Salah', 'total matches in league in season 2018–19 ', '38'],
 ['Mohamed Salah', 'total goals in league in season 2018–19 ', '22'],
 ['Mohamed Salah', 'total matches in national c in season 2018–19 ', '1'],
 ['Mohamed Salah', 'total goals in national cup in season 2018–19 ', '0'],
 ['Mohamed Salah', 'total matches in league cup in season 2018–19 ', '1'],
 ['Mohamed Salah', 'total goals in league cup in season 2018–19 ', '0'],
 ['Mohamed Salah',
  'total matches in continental competition in season 2018–19 ',
  '12'],
 ['Mohamed Salah',
  'total goals in continental competition in season 2018–19 ',
  '5'],
 ['Mohamed Salah', 'total matches in season 2019–20 ', '48'],
 ['Mohamed Salah', 'total goals in season 2019–20 ', '23'],
 ['Mohamed Salah', 'total matches in league in season 2019–20 ', '34'],
 ['Mohamed Salah', 'total goals in league in season 2019–20 ', '19'],
 ['Mohamed Salah', 'total matches in national c in season 2019–20 ', '2'],
 ['Mohamed Salah', 'total goals in national cup in season 2019–20 ', '0'],
 ['Mohamed Salah', 'total matches in league cup in season 2019–20 ', '0'],
 ['Mohamed Salah', 'total goals in league cup in season 2019–20 ', '0'],
 ['Mohamed Salah',
  'total matches in continental competition in season 2019–20 ',
  '8'],
 ['Mohamed Salah',
  'total goals in continental competition in season 2019–20 ',
  '4'],
 ['Mohamed Salah', 'total matches in season 2020–21 ', '51'],
 ['Mohamed Salah', 'total goals in season 2020–21 ', '31'],
 ['Mohamed Salah', 'total matches in league in season 2020–21 ', '37'],
 ['Mohamed Salah', 'total goals in league in season 2020–21 ', '22'],
 ['Mohamed Salah', 'total matches in national c in season 2020–21 ', '2'],
 ['Mohamed Salah', 'total goals in national cup in season 2020–21 ', '3'],
 ['Mohamed Salah', 'total matches in league cup in season 2020–21 ', '1'],
 ['Mohamed Salah', 'total goals in league cup in season 2020–21 ', '0'],
 ['Mohamed Salah',
  'total matches in continental competition in season 2020–21 ',
  '10'],
 ['Mohamed Salah',
  'total goals in continental competition in season 2020–21 ',
  '6'],
 ['Mohamed Salah', 'total matches in season 2021–22 ', '46'],
 ['Mohamed Salah', 'total goals in season 2021–22 ', '30'],
 ['Mohamed Salah', 'total matches in league in season 2021–22 ', '32'],
 ['Mohamed Salah', 'total goals in league in season 2021–22 ', '22'],
 ['Mohamed Salah', 'total matches in national c in season 2021–22 ', '1'],
 ['Mohamed Salah', 'total goals in national cup in season 2021–22 ', '0'],
 ['Mohamed Salah', 'total matches in league cup in season 2021–22 ', '1'],
 ['Mohamed Salah', 'total goals in league cup in season 2021–22 ', '0'],
 ['Mohamed Salah',
  'total matches in continental competition in season 2021–22 ',
  '12'],
 ['Mohamed Salah',
  'total goals in continental competition in season 2021–22 ',
  '8']]

In [ ]:
def player_timeline(summary_table, page_name):
  Triplets = []
  V2s = [] # vertex of two elements as tuple ( season , clup name)
  for j in range(len(summary_table)): 
    row = [i for i in summary_table.iloc[j]]
    if (row[0] != 'Total') and (row[0] != 'Career total'):
      ver = ','.join([row[0] ,row[1]])
      V2s.append(ver)

  t_graph = Graph()
  t_graph.add_vertex(page_name)
  for i in V2s:
    t_graph.add_vertex(i)
  for J in range(len(V2s)):
    t_graph.add_edge(page_name , V2s[J])

  edges = t_graph.the_graph()
  edge = {page_name : edges[page_name]}
  seasons_clubs = edges[page_name]
  for i in seasons_clubs :
    i = i.split(',')
    T1= [page_name , 'play season '+ i[0] + ' for',i[1]]
    Triplets.append(T1)
  return Triplets

In [ ]:
p= player_timeline(x, player_name)
p

[['Mohamed Salah', 'play season 2009–10 for', 'Al Mokawloon Al Arab'],
 ['Mohamed Salah', 'play season 2010–11 for', 'Al Mokawloon Al Arab'],
 ['Mohamed Salah', 'play season 2011–12 for', 'Al Mokawloon Al Arab'],
 ['Mohamed Salah', 'play season 2012–13 for', 'Basel'],
 ['Mohamed Salah', 'play season 2013–14 for', 'Basel'],
 ['Mohamed Salah', 'play season 2013–14 for', 'Chelsea'],
 ['Mohamed Salah', 'play season 2014–15 for', 'Chelsea'],
 ['Mohamed Salah', 'play season 2014–15 for', 'Fiorentina loan'],
 ['Mohamed Salah', 'play season 2015–16 for', 'Roma loan'],
 ['Mohamed Salah', 'play season 2016–17 for', 'Roma'],
 ['Mohamed Salah', 'play season 2017–18 for', 'Liverpool'],
 ['Mohamed Salah', 'play season 2018–19 for', 'Liverpool'],
 ['Mohamed Salah', 'play season 2019–20 for', 'Liverpool'],
 ['Mohamed Salah', 'play season 2020–21 for', 'Liverpool'],
 ['Mohamed Salah', 'play season 2021–22 for', 'Liverpool']]

In [ ]:
def tot_w_clubs(summary_table , player_name):
    tots_df = summary_table[ summary_table['season']== 'Total']
    Triplets = []
    for i in range(len(tots_df)):
        Triplets.append([player_name , "total matches with {} club".format( tots_df['club'].iloc[i]) , tots_df['total apps'].iloc[i] ])
        Triplets.append([player_name , "total goals with {} club ".format(tots_df['club'].iloc[i]) , tots_df['total goals'].iloc[i]])

        Triplets.append([player_name , "total matches in league with {} club".format( tots_df['club'].iloc[i]), tots_df['league apps'].iloc[i] ])
        Triplets.append([player_name , "total goals in league with {} club ".format( tots_df['club'].iloc[i]) ,tots_df['league goals'].iloc[i] ])

        Triplets.append([player_name , "total matches in national cup with {} club ".format(tots_df['club'].iloc[i]) , tots_df['national cup apps'].iloc[i] ])
        Triplets.append([player_name , "total goals in national cup with {} club ".format( tots_df['club'].iloc[i]) , tots_df['national cup goals'].iloc[i]])

        Triplets.append([player_name , "total matches in league cup with {} club ".format(tots_df['club'].iloc[i]) ,tots_df['league cup apps'].iloc[i]])
        Triplets.append([player_name , "total goals in league cup with {} club ".format(tots_df['club'].iloc[i]) ,tots_df['league cup goals'].iloc[i]])

        Triplets.append([player_name , "total matches in continental competition with {} club ".format( tots_df['club'].iloc[i]) ,tots_df['continental apps'].iloc[i]])
        Triplets.append([player_name , "total goals in continental competition with {} club ".format( tots_df['club'].iloc[i]) ,tots_df['continental goals'].iloc[i] ])
    return Triplets

In [ ]:
t= tot_w_clubs(x , player_name)
t

[['Mohamed Salah', 'total matches with Al Mokawloon Al Arab club', '44'],
 ['Mohamed Salah', 'total goals with Al Mokawloon Al Arab club ', '12'],
 ['Mohamed Salah',
  'total matches in league with Al Mokawloon Al Arab club',
  '38'],
 ['Mohamed Salah',
  'total goals in league with Al Mokawloon Al Arab club ',
  '11'],
 ['Mohamed Salah',
  'total matches in national cup with Al Mokawloon Al Arab club ',
  '6'],
 ['Mohamed Salah',
  'total goals in national cup with Al Mokawloon Al Arab club ',
  '1'],
 ['Mohamed Salah',
  'total matches in league cup with Al Mokawloon Al Arab club ',
  '0'],
 ['Mohamed Salah',
  'total goals in league cup with Al Mokawloon Al Arab club ',
  '0'],
 ['Mohamed Salah',
  'total matches in continental competition with Al Mokawloon Al Arab club ',
  '0'],
 ['Mohamed Salah',
  'total goals in continental competition with Al Mokawloon Al Arab club ',
  '0'],
 ['Mohamed Salah', 'total matches with Basel club', '79'],
 ['Mohamed Salah', 'total goals with Basel club ', '20'],
 ['Mohamed Salah', 'total matches in league with Basel club', '47'],
 ['Mohamed Salah', 'total goals in league with Basel club ', '9'],
 ['Mohamed Salah', 'total matches in national cup with Basel club ', '6'],
 ['Mohamed Salah', 'total goals in national cup with Basel club ', '4'],
 ['Mohamed Salah', 'total matches in league cup with Basel club ', '0'],
 ['Mohamed Salah', 'total goals in league cup with Basel club ', '0'],
 ['Mohamed Salah',
  'total matches in continental competition with Basel club ',
  '26'],
 ['Mohamed Salah',
  'total goals in continental competition with Basel club ',
  '7'],
 ['Mohamed Salah', 'total matches with Chelsea club', '19'],
 ['Mohamed Salah', 'total goals with Chelsea club ', '2'],
 ['Mohamed Salah', 'total matches in league with Chelsea club', '13'],
 ['Mohamed Salah', 'total goals in league with Chelsea club ', '2'],
 ['Mohamed Salah', 'total matches in national cup with Chelsea club ', '2'],
 ['Mohamed Salah', 'total goals in national cup with Chelsea club ', '0'],
 ['Mohamed Salah', 'total matches in league cup with Chelsea club ', '2'],
 ['Mohamed Salah', 'total goals in league cup with Chelsea club ', '0'],
 ['Mohamed Salah',
  'total matches in continental competition with Chelsea club ',
  '2'],
 ['Mohamed Salah',
  'total goals in continental competition with Chelsea club ',
  '0'],
 ['Mohamed Salah', 'total matches with Roma club', '83'],
 ['Mohamed Salah', 'total goals with Roma club ', '34'],
 ['Mohamed Salah', 'total matches in league with Roma club', '65'],
 ['Mohamed Salah', 'total goals in league with Roma club ', '29'],
 ['Mohamed Salah', 'total matches in national cup with Roma club ', '3'],
 ['Mohamed Salah', 'total goals in national cup with Roma club ', '2'],
 ['Mohamed Salah', 'total matches in league cup with Roma club ', '—'],
 ['Mohamed Salah', 'total goals in league cup with Roma club ', '—'],
 ['Mohamed Salah',
  'total matches in continental competition with Roma club ',
  '15'],
 ['Mohamed Salah',
  'total goals in continental competition with Roma club ',
  '3'],
 ['Mohamed Salah', 'total matches with Liverpool club', '249'],
 ['Mohamed Salah', 'total goals with Liverpool club ', '155'],
 ['Mohamed Salah', 'total matches in league with Liverpool club', '177'],
 ['Mohamed Salah', 'total goals in league with Liverpool club ', '117'],
 ['Mohamed Salah', 'total matches in national cup with Liverpool club ', '7'],
 ['Mohamed Salah', 'total goals in national cup with Liverpool club ', '4'],
 ['Mohamed Salah', 'total matches in league cup with Liverpool club ', '3'],
 ['Mohamed Salah', 'total goals in league cup with Liverpool club ', '0'],
 ['Mohamed Salah',
  'total matches in continental competition with Liverpool club ',
  '57'],
 ['Mohamed Salah',
  'total goals in continental competition with Liverpool club ',
  '34']]

In [ ]:
def summary_player_info(summary_table ,page_name):
  Triplets = []
  Career_total = summary_table[summary_table['season']== 'Career total'] # retrieve Career total row
  Triplets.append([page_name , 'total matchs in leagues' , int(Career_total["league apps"].values) ])
  Triplets.append([page_name , 'total goals in leagues' , int(Career_total["league goals"].values) ])
  Triplets.append([page_name , 'total matchs in national cup' , int(Career_total["national cup apps"].values) ])
  Triplets.append([page_name , 'total goals in national cup'  , int(Career_total["national cup goals"].values) ])
  Triplets.append([page_name , 'total matchs in league cup' , int(Career_total["league cup apps"].values) ])
  Triplets.append([page_name , 'total goals in league cup' , int(Career_total["league cup goals"].values) ])
  Triplets.append([page_name , 'total matchs in continental league' , int(Career_total["continental apps"].values) ])
  Triplets.append([page_name , 'total goals in continental league' , int(Career_total["continental goals"].values) ])
  Triplets.append([page_name , 'total matches' , int(Career_total["total apps"].values) ])
  Triplets.append([page_name , 'total goals' , int(Career_total["total goals"].values) ])
  return Triplets

In [ ]:
s  = summary_player_info(x, player_name)
s

[['Mohamed Salah', 'total matchs in leagues', 356],
 ['Mohamed Salah', 'total goals in leagues', 174],
 ['Mohamed Salah', 'total matchs in national cup', 26],
 ['Mohamed Salah', 'total goals in national cup', 13],
 ['Mohamed Salah', 'total matchs in league cup', 5],
 ['Mohamed Salah', 'total goals in league cup', 0],
 ['Mohamed Salah', 'total matchs in continental league', 108],
 ['Mohamed Salah', 'total goals in continental league', 45],
 ['Mohamed Salah', 'total matches', 500],
 ['Mohamed Salah', 'total goals', 232]]

In [ ]:
import pandas as pd 

URLs = ['https://en.wikipedia.org/wiki/Mohamed_Salah',
        #"https://en.wikipedia.org/wiki/Roberto_Firmino",
        #"https://en.wikipedia.org/wiki/Lionel_Messi",
        #"https://en.wikipedia.org/wiki/Cristiano_Ronaldo",
        #'https://en.wikipedia.org/wiki/Robert_Lewandowski',
        #'https://en.wikipedia.org/wiki/David_Beckham'       
        ]

Triplets = pd.DataFrame([] ,columns = ['subject' , 'predicate' , 'object'])
for i in URLs:
  page_name , table = extract_table(i)
  summary_table = clean_table(table)
  T1 = summary_player_info(summary_table , page_name)
  T2 = tot_w_clubs(summary_table , page_name)
  T3 = player_timeline(summary_table , page_name)
  T4 = season_detail(summary_table , page_name)
  TTT = T1  + T2 + T3 + T4
  triple_df = pd.DataFrame(TTT  , columns = ['subject' , 'predicate' , 'object'])
  Triplets= Triplets.append(triple_df)

In [1]:
url = 'https://en.wikipedia.org/wiki/Mohamed_Salah'
def rdf_from_table(url):
  page_name , table = extract_table(url)
  summary_table = clean_table(table)
  T1 = summary_player_info(summary_table , page_name)
  T2 = tot_w_clubs(summary_table , page_name)
  T3 = player_timeline(summary_table , page_name)
  T4 = season_detail(summary_table , page_name)
  triplets_df = pd.DataFrame(T1+T2+T3 +T4  ,
                             columns = ['subject' , 'predicate' , 'object'])
  return triplets_df

In [ ]:
Triplets = shuffle(Triplets)
Triplets

           subject                                          predicate   object
7    Mohamed Salah  total goals in league cup with Al Mokawloon Al...        0
95   Mohamed Salah           total goals in league in season 2011–12         7
56   Mohamed Salah                            play season 2014–15 for  Chelsea
117  Mohamed Salah     total goals in national cup in season 2013–14         1
11   Mohamed Salah                       total goals with Basel club        20
..             ...                                                ...      ...
121  Mohamed Salah  total goals in continental competition in seas...        5
200  Mohamed Salah  total matches in continental competition in se...        8
149  Mohamed Salah       total goals in league cup in season 2014–15         —
166  Mohamed Salah     total matches in national c in season 2016–17         2
84   Mohamed Salah         total matches in league in season 2010–11        20

[222 rows x 3 columns]